<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <!-- CSS here -->
    <link rel="stylesheet" href="/assets/FrontOffice/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/FrontOffice/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/FrontOffice/assets/css/slicknav.css">
    <link rel="stylesheet" href="/assets/FrontOffice/assets/css/flaticon.css">
    <link rel="stylesheet" href="/assets/FrontOffice/assets/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="/assets/FrontOffice/assets/css/gijgo.css">
    <link rel="stylesheet" href="/assets/FrontOffice/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/FrontOffice/assets/css/animated-headline.css">
    <link rel="stylesheet" href="/assets/FrontOffice/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/FrontOffice/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/FrontOffice/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/FrontOffice/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/FrontOffice/assets/css/nice-select.css">
    <link rel="stylesheet" href="/assets/FrontOffice/assets/css/style.css">
</head>
<body>
<div class="full-page">
    <app-header-front></app-header-front>
    <main class="main-content">
        <router-outlet></router-outlet>
    </main>
    <app-footer-front></app-footer-front>
</div>

<!-- JS here -->
<script src="/assets/FrontOffice/assets/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="/assets/FrontOffice/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/assets/FrontOffice/assets/js/popper.min.js"></script>
<script src="/assets/FrontOffice/assets/js/bootstrap.min.js"></script>
<script src="/assets/FrontOffice/assets/js/jquery.slicknav.min.js"></script>
<script src="/assets/FrontOffice/assets/js/owl.carousel.min.js"></script>
<script src="/assets/FrontOffice/assets/js/slick.min.js"></script>
<script src="/assets/FrontOffice/assets/js/wow.min.js"></script>
<script src="/assets/FrontOffice/assets/js/animated.headline.js"></script>
<script src="/assets/FrontOffice/assets/js/jquery.magnific-popup.js"></script>
<script src="/assets/FrontOffice/assets/js/gijgo.min.js"></script>
<script src="/assets/FrontOffice/assets/js/jquery.nice-select.min.js"></script>
<script src="/assets/FrontOffice/assets/js/jquery.sticky.js"></script>
<script src="/assets/FrontOffice/assets/js/jquery.barfiller.js"></script>
<script src="/assets/FrontOffice/assets/js/jquery.counterup.min.js"></script>
<script src="/assets/FrontOffice/assets/js/waypoints.min.js"></script>
<script src="/assets/FrontOffice/assets/js/jquery.countdown.min.js"></script>
<script src="/assets/FrontOffice/assets/js/hover-direction-snake.min.js"></script>
<script src="/assets/FrontOffice/assets/js/contact.js"></script>
<script src="/assets/FrontOffice/assets/js/jquery.form.js"></script>
<script src="/assets/FrontOffice/assets/js/jquery.validate.min.js"></script>
<script src="/assets/FrontOffice/assets/js/mail-script.js"></script>
<script src="/assets/FrontOffice/assets/js/jquery.ajaxchimp.min.js"></script>
<script src="/assets/FrontOffice/assets/js/plugins.js"></script>
<script src="/assets/FrontOffice/assets/js/main.js"></script>
</body>
</html>